<%- include("../partials/header") %>
<div class='main'>
  <div class="content confirmation">
      <div class="user">
          <p class="message">Your flight is confirmed!</p>
          <ul class="user-info">
              <li>Flight #:<span id="flight"><%= user.flight %></span> seat #: <span id="seat"><%= user.seat %></span></li>
              <li>Name:<span id="name"><%= user.givenName user.surname %></span></li>
              <li>Email:<span id="email"><%= user.email %></span></li>
          </ul>
      </div>
      <div class="tombstone"></div>
  </div>
</div>
<p class='footer-logo'>The only way to fly!</p>
<script src="./seat-select/js/confirmed.js"></script>
</body>
</html>